.jumbotron h1{
	text-align: center;
	color: #eee7ec;
	font-family: Georgia;
	padding-top: 110px

}

.jumbotron {
	background-image : url("http://i.imgur.com/eFaotZp.jpg");
	background-size : cover;
	background-attachment : fixed ;
	padding-top: 0px;
 	min-height: 300px;
 	border-color: black;
 	border-bottom: solid;

}

h2 {
	text-align: center;
	color: #8d679d;
	font-family: Georgia;
}

h3 {
	text-align: center;
	color: #8d679d;
	font-family: Georgia;
}

img {
	max-width: 400px;
	max-height: 500px;
}

#social-buttons button {
	color : white;
}

#social-buttons a {
	text-decoration: none;
	color: #fff;
}

.btn-camfm{
	background-color : #FFA500;
	border-color : #005aff;
}
.btn-facebook {
	background-color : #4868ac;
	border-color : #314776;
}

body {
	background-color: #c1d1d7;
}

#squarepic {
	padding-right: 50px;
	padding-bottom: 20px;
}

.lead {
	color: #8d679d;
	font-family: Georgia;
	padding-top: 20px;
	padding-left: 50px;
}

.quotes {
	padding-right: 20px;
}

.spotify {
	padding-left: 70px;
	padding-bottom: 20px;
}



